<html>
  <head>
     <link href="/css/bootstrap.min.css" rel="stylesheet">

    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>

  </head>
  <body>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Muni Miners</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

   <div class="container">
     <div class='row'>

       <div class='span8'>

<iframe width="620" height="620" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/?ie=UTF8&amp;ll=37.791202,-122.414904&amp;spn=0.035474,0.074501&amp;t=m&amp;z=14&amp;output=embed"></iframe>

<!--
<br /><small><a href="https://maps.google.com/?ie=UTF8&amp;ll=37.791202,-122.414904&amp;spn=0.035474,0.074501&amp;t=m&amp;z=14&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
-->
       </div>

       <div class='span4'>

<ul class="nav nav-tabs nav-stacked">

  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        Saturday
        <b class="caret"></b>
      </a>
    <ul class="dropdown-menu">
      <a href='#'>Sunday</a>
    </ul>
  </li>

  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        6:30PM
        <b class="caret"></b>
      </a>
    <ul class="dropdown-menu">
      <a href='#'>7:30PM</a>
    </ul>
  </li>

  <li class='active'><a href='#'>(ON+OFF)/(LOAD+1)</a></li>
  <li><a href='#'>MILES/TIME</a></li>
  <li><a href='#'>PSGR_MILES / TIME</a></li>
  <li><a href='#'>Change in Delay</a></li>
  <li><a href='#'>(ON+OFF)/VELOCITY</a></li>
  <li><a href='#'>ON/PREV_BUS_SCH_TIME</a></li>
  <li><a href='#'>(ON+OFF) / departure deviation</a></li>
</ul>

       </div>

     </div>

   </div>

  </body>

</html>
