<html>
  <head>
     <link href="/css/bootstrap.min.css" rel="stylesheet">

    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }

      .navbar .nav > li > a {
        padding: 3px;
        padding-left: 7px;
        padding-right: 7px;
      }

      .nav-tabs > li > a {
        padding-top: 3px;
        padding-bottom: 3px;
      }

      .nav {
        margin-bottom: 10px;
      }

      .navbar {
        margin-bottom: 10px;
      }

      .breadcrumb {
        margin-bottom: 10px;
      }

    </style>

  </head>
  <body>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <script>

      $('a').live('click', function() {
        parent = $(this).parents('[data-type]')
        type = parent.attr('data-type');
        console.log('type: ' + type);

        if (type == 'day') {
          drill_link = parent.find('.dropdown-toggle');
          drill_link.text($(this).text() + ' '); 
          drill_link.append('<b class="caret"></b>');
        } else if (type == 'hour') {
          parent.find('li').removeClass('active');
          $(this).parent().addClass('active'); 
        } else if (type == 'route') {
          parent.find('li').removeClass('active');
          $(this).parent().addClass('active'); 
        } else if (type == 'bound') {
          li = parent.find('.active');
          li.removeClass('active');
          link = $('<a></a>');
          link.attr('href', '#');
          link.text(li.attr('data-bound'));
          li.empty();
          li.append(link);

          if (li.attr('data-bound') == 'Inbound') {
            li.append('<span class="divider"> /</span>'); 
          }

          pli = $(this).parent()
          pli.addClass('active'); 
          pli.empty();
          pli.text(pli.attr('data-bound'));

          if (pli.attr('data-bound') == 'Inbound') {
            pli.append('<span class="divider"> /</span>'); 
          }
        } else if (type == 'metric') {
          parent.children('.active').removeClass('active');
          $(this).parent().addClass('active');
        }
      });

    </script> 

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse"
             data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Muni Miners</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

   <div class="container">
     <div class='row'>

       <div class='span8'>

<iframe width="620" height="620" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/?ie=UTF8&amp;ll=37.791202,-122.414904&amp;spn=0.035474,0.074501&amp;t=m&amp;z=14&amp;output=embed"></iframe>
       </div>

       <div class='span4'>

<ul class="nav nav-tabs nav-stacked">
  <li class="dropdown" data-type='day'>
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        All Days
        <b class="caret"></b>
      </a>
    <ul class="dropdown-menu">
      <a href='#'>All Days</a>
      <a href='#'>Monday</a>
      <a href='#'>Tuesday</a>
      <a href='#'>Wednesday</a>
      <a href='#'>Thursday</a>
      <a href='#'>Friday</a>
      <a href='#'>Saturday</a>
      <a href='#'>Sunday</a>
    </ul>
  </li>
</ul>

<div class='navbar' style='font-size:11px'>
  <div class="navbar-inner" style='padding:0px'>
<ul class="nav" data-type='hour'>

<li class="active"><a href='#'>All Hours</a></li>

<li>      <a href='#'>5:00AM</a></li>
<li>      <a href='#'>6:00AM</a></li>
<li>      <a href='#'>7:00AM</a></li>
<li>      <a href='#'>8:00AM</a></li>
<li>      <a href='#'>9:00AM</a></li>
<li>      <a href='#'>10:00AM</a></li>
<li>      <a href='#'>11:00AM</a></li>
<li>      <a href='#'>12:00PM</a></li>
<li>      <a href='#'>1:00PM</a></li>
<li>      <a href='#'>2:00PM</a></li>
<li>      <a href='#'>3:00PM</a></li>
<li>      <a href='#'>4:00PM</a></li>
<li>      <a href='#'>5:00PM</a></li>

<li>      <a href='#'>6:00PM</a></li>
<li>      <a href='#'>8:00PM</a></li>
<li>      <a href='#'>9:00PM</a></li>
<li>      <a href='#'>10:00PM</a></li>
<li>      <a href='#'>11:00PM</a></li>
      <li><a href='#'>12:00AM</a></li>
 <li>     <a href='#'>1:00AM</a></li>
    <li>  <a href='#'>2:00AM</a></li>
<li>      <a href='#'>3:00AM</a></li>
<li>      <a href='#'>3:00AM</a></li>
<li>      <a href='#'>4:00AM</a></li>
</ul>
</div>
</div>

<div class='navbar' style='font-size:11px;'>
  <div class="navbar-inner" style='padding:0px'>
<ul class="nav" data-type='route'>

<li class="active"><a href='#'>1</a></li>
<li><a href='#'>2</a></li>
<li><a href='#'>3</a></li>
<li><a href='#'>5</a></li>
<li><a href='#'>6</a></li>
<li><a href='#'>9</a></li>
<li><a href='#'>10</a></li>
<li><a href='#'>12</a></li>
<li><a href='#'>14</a></li>
<li><a href='#'>17</a></li>
<li><a href='#'>18</a></li>
<li><a href='#'>19</a></li>
<li><a href='#'>21</a></li>
<li><a href='#'>22</a></li>
<li><a href='#'>23</a></li>
<li><a href='#'>24</a></li>
<li><a href='#'>27</a></li>
<li><a href='#'>28</a></li>
<li><a href='#'>29</a></li>
<li><a href='#'>30</a></li>
<li><a href='#'>31</a></li>
<li><a href='#'>33</a></li>
<li><a href='#'>35</a></li>
<li><a href='#'>36</a></li>
<li><a href='#'>37</a></li>
<li><a href='#'>38</a></li>
<li><a href='#'>39</a></li>
<li><a href='#'>41</a></li>
<li><a href='#'>43</a></li>
<li><a href='#'>44</a></li>
<li><a href='#'>45</a></li>
<li><a href='#'>47</a></li>
<li><a href='#'>48</a></li>
<li><a href='#'>49</a></li>
<li><a href='#'>52</a></li>
<li><a href='#'>54</a></li>
<li><a href='#'>56</a></li>
<li><a href='#'>66</a></li>
<li><a href='#'>67</a></li>
<li><a href='#'>71</a></li>
<li><a href='#'>76</a></li>
<li><a href='#'>88</a></li>
<li><a href='#'>90</a></li>
<li><a href='#'>91</a></li>
<li><a href='#'>108</a></li>
<li><a href='#'>509</a></li>
<li><a href='#'>514</a></li>
<li><a href='#'>528</a></li>
<li><a href='#'>538</a></li>
<li><a href='#'>571</a></li>
<li><a href='#'>605</a></li>
<li><a href='#'>608</a></li>
<li><a href='#'>609</a></li>
<li><a href='#'>610</a></li>
<li><a href='#'>612</a></li>
<li><a href='#'>708</a></li>
<li><a href='#'>716</a></li>
<li><a href='#'>730</a></li>
<li><a href='#'>781</a></li>
<li><a href='#'>782</a></li>
<li><a href='#'>783</a></li>
<li><a href='#'>797</a></li>
<li><a href='#'>801</a></li>
<li><a href='#'>808</a></li>
<li><a href='#'>831</a></li>
<li><a href='#'>838</a></li>
<li><a href='#'>901</a></li>
<li><a href='#'>908</a></li>
<li><a href='#'>914</a></li>
<li><a href='#'>931</a></li>
<li><a href='#'>938</a></li>

</ul>
</div></div>

<ul class="breadcrumb" data-type='bound'>
  <li data-bound='Inbound'><a href="#">Inbound</a> <span class="divider">/</span></li>
  <li data-bound='Outbound' class="active">Outbound</li>
</ul>

<ul class="nav nav-tabs nav-stacked" style='font-size:11px;'
    data-type='metric'>
  <li class='active'><a href='#'>(ON+OFF)/(LOAD+1)</a></li>
  <li><a href='#'>MILES/TIME</a></li>
  <li><a href='#'>PSGR_MILES / TIME</a></li>
  <li><a href='#'>Change in Delay</a></li>
  <li><a href='#'>(ON+OFF)/VELOCITY</a></li>
  <li><a href='#'>ON/PREV_BUS_SCH_TIME</a></li>
  <li><a href='#'>(ON+OFF) / departure deviation</a></li>
</ul>

       </div>

     </div>

   </div>

  </body>

</html>
