<div id="routeholder">
  <ul id="routes">
  </ul>
</div>
<div id="tripholder">
  <ul id="trips">
  </ul>
</div>
<div id="map">
</div>
<div id="controls">
  Color Route by:<br/><br/>
  <input type="radio" class="delaychange" name="delaychange" value="dep_dev_mins_diff" checked="true">Change in Delay</input><br/>
  <input type="radio" class="delaychange" name="delaychange" value="dep_dev_mins_interp">Delay</input><br/>
  <hr/>
  Draw Circles by:<br/><br/>
  <input type="radio" class="showmetric" name="showmetric" value="psgr_onoff" checked="true">Passenger Activity</input><br/>
  <input type="radio" class="showmetric" name="showmetric" value="psgr_on">Passengers Getting On</input><br/>
  <input type="radio" class="showmetric" name="showmetric" value="psgr_off">Passengers Getting Off</input><br/>
  <input type="radio" class="showmetric" name="showmetric" value="psgr_load">Passengers On Bus</input><br/>
  <hr/>
  <div id="worststopsholder">
    Worst stops on route:
    <ul id="worststops">
    </ul>
  </div>
</div>
