<div id="routeholder">
  <ul id="routes">
  </ul>
</div>
<div id="tripholder">
  <ul id="trips">
  </ul>
</div>
<div id="map">
</div>
<div id="controls">
  Color Route by:<br/><br/>
  <input type="radio" class="delaychange" name="delaychange" value="dep_dev_mins_interp">Delay</input><br/><br/>
  Red means:<br/> "bus is behind schedule"<br/><br/>
  <input type="radio" class="delaychange" name="delaychange" value="dep_dev_mins_diff" checked="true">Change in Delay</input><br/><br/>
  Red means:<br/> "bus got delayed here"<br/><br/>
  <hr/>
  Circles mean:<br/>
  "passengers getting on or off"<br/><br/>
  <div id="worststopsholder">
    Most delaying stops:
    <ul id="worststops">
    </ul>
  </div>
</div>
