/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_self
 */

      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }

      .navbar-inner {
        min-height: 0px;
      }

      .navbar .nav > li > a {
        padding: 3px;
        padding-left: 7px;
        padding-right: 7px;
      }

      .nav-tabs > li > a {
        padding-top: 3px;
        padding-bottom: 3px;
      }

      .nav {
        margin-bottom: 5px;
      }

      .navbar {
        margin-bottom: 5px;
      }

      .breadcrumb {
        margin-bottom: 5px;
      }

      #map label { width: auto; display:inline; }
      #map img { max-width: none; }
      
