/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

a:visited { 
    color: blue;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a.selected {
    background: lightblue;
}

#routeholder {
    float: left;
    width: 150px;
    height: 600px; 
    overflow-y: scroll;
    border: 1px solid gray;
}

#tripholder {
    float: left;
    width: 250px;
    height: 600px; 
    overflow-y: scroll;
    border: 1px solid gray;
}

#map {
    float: left; 
    width: 700px; 
    height: 600px; 
    border: 1px solid gray;
}

#controls {
    float: left;
    width: 200px;
    margin-left: 10px;
}

#worststops li {
    padding-bottom: 1em;
}

